* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
button,
[type = submit] {
  cursor: pointer;
}

body {
  font-family: 'ProximaNova', sans-serif;
  color: #231f20;
  background: #e6e7e8;
}

.wrapper {
  max-width: 1059.33px;
  width: 95%;
  margin: 0 auto;
}

.container {
  max-width: 658px;
  width: 95%;
  margin: 0 auto;
}

/* HEADER */

header {
  width: 100%;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 103px;
}

.header__logo {
  width: 200px;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__link {
  margin-left: 14px;
  text-decoration: underline;
}

.header__link:hover {
  color: #ed1c2a;
  background: none;
}

.header__search img {
  max-width: 16px;
}

/* MAIN */

.main__title {
  margin: 34.33px 0 41.33px 0;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  color: #ed1c2a;
}

.main__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main__item.no-flex {
  display: block;
}

.main__subtitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* width: 241px; */
}

.main__number {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  height: 24px;
  margin-right: 10px;
  border: 2px solid #000;
  border-radius: 50%;
  font-size: 16px;
  font-weight: bold;
}

.main__text {
  font-size: 16px;
  font-weight: bold;
}

.main__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 23.66px;
}

.main__item [type = radio] {
  display: none;
}

.main__item label {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 23.67px;
  padding: 0 12px;
  color: #fff;
  background: #999;
  cursor: pointer;
  user-select: none;
}

.main__item [type = radio]:checked + label {
  background: #ed1c2a;
}

.hr {
  margin: 21px 0;
  width: 100%;
}

.flex-start {
  justify-content: flex-start;
}

.flex-start .question__item {
  margin-right: 24.33px;
}

.sizes__container {
  justify-content: space-between;
}

.sizes {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -8px;
}

.sizes__item {
  margin-left: 20px;
}

.sizes__text {
  margin-right: 6.33px;
}

.sizes input {
  width: 116px;
  height: 37.67px;
  border: none;
  border-right: 10px solid #ed1c2a;
  outline: none;
  text-align: center;
  font-size: 20px;
  color: #666;
}

.calculation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculation__btn {
  width: 213.33px;
  height: 46px;
  margin-right: 35.33px;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background: #f33;
}

.calculation__sum span {
  display: inline-block;
  font-weight: bold;
}

.calculation__sum input {
  width: 211.33px;
  height: 44.67px;
  margin-left: 22.33px;
  border: none;
  outline: none;
  text-align: center;
  font-size: 18px;
}

.feedback {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedback__subtitle {
  font-size: 12px;
  font-weight: bold;
}

.feedback__form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 11px;
}

.feedback__email,
.feedback__phone {
  width: 180px;
  height: 29.67px;
  padding: 0 10px;
  font-size: 14px;
  border: none;
  background: #fff;
}

.feedback__submit {
  width: 140px;
  height: 29.67px;
  border: 1px solid #f00;
  outline: none;
  color: #fff;
  background: #f00;
}

.feedback__submit:active {
  color: #f00;
  background: #fff;
}

.info {
  margin: 26.67px 0 87.33px 0;
  font-size: 12px;
  color: #454344;
}

/* FOOTER */

footer {
  border-top: 2px solid #cdcfd1;
}

footer .wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 81px;
  color: #231f20;
}

.company-name {
  font-size: 12px;
}

.address__phone {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
}

.address__email {
  font-size: 12px;
  text-decoration: underline;
  font-style: normal;
}

.display_none {
  display: none;
}